*{
  margin: 0;
  padding: 0;
}

.sp--hidden{
  display: none;
}

.container{
  width: 1280px;
  margin: 0 auto;
}

@media (max-width:1000px){
  .container{
    width: 100%;
  }
  .sp--hidden{
    display: block;
  }
}

#glow_header {
	width: calc(100% - 60px);
	display: flex;
	position: fixed;
	z-index: 10;
	padding: 15px 30px;
	justify-content: space-between;
}

.header_left_content {
	display: flex;
	align-items: center;
}

.header_logo{
  margin-right: 24px;
}

.header_logo img{
  width: 160px;
  height: auto;
}

.header_search_box {
	padding: 5px 15px;
	border: 1px solid #fff;
	border-radius: 15px;
}

.header_search_box input {
	border: none;
	background: transparent;
}

.header_burger_menu {
	width: 50px;
	height: 50px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-end;
}

.header_burger_menu div {
	width: 80%;
	border: 1px solid #fff;
}

.header_burger_menu div:first-child {
	width: 100%;
}

@media (max-width: 1000px){
  .header_logo img{
    width: 100px;
    height: auto;;
  }

  .header_search_box {
    display: none;
  }

  .header_burger_menu {
    width: 40px;
    height: 40px;
  }
}


.footer{
  background: url(../imgs/footer-bg.png);
  background-size: cover;
  background-position: center center;
  padding: 48px 0 16px 0;
  border-top: 4px solid #206a20;
}

.footer__quote{
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 4px;
  color: #fff;
  text-align: right;
  font-style: italic;
  line-height: 1.4;
}

.footer__quoteAuthor{
  font-size: 18px;
  font-weight: bold;
  text-align: right;
  color: #fff;
  display: block;
  padding: 32px 16px 0 0;
}

.footer__quoteAuthor::before{
  content: "";
  display: inline-block;
  margin: 0 16px 8px 0;
  width: 160px;
  height: 1px;
  background: #206a20;
}

.footer__nav{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 32px 0;
}

.footer__categories{
  width: 66.5555%;
}

.footer__otherLinks{
  width: 33.333%;
}

.footer__categories ul,
.footer__otherLinks ul{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.footer__otherLinks ul{
  margin-bottom: 24px;
}

.footer__categories ul li,
.footer__otherLinks ul li{
  margin: 0 0 12px  0;
  padding-left: 1em;
  width: 48%;
}

.footer__categories ul li::before,
.footer__otherLinks ul li::before{
  content: "・ ";
  color: #206a20;
  font-weight: bold;
}

.footer__categories ul li a,
.footer__otherLinks ul li a{
  text-decoration: none;
  color: #fff;
}

.footer__copyright{
  font-size: 12px;
  text-align: center;
  line-height: 32px;
  height: 32px;
  color: #fff;
  border-top: 1px solid #206a20;
}

@media (max-width:1000px){
  .footer{
    padding: 16px;
  }
  .footer__quote{
    font-size: 16px;
  }

  .footer__otherLinks{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .footer__categories,
  .footer__otherLinks{
    width: 100%;
  }
  .footer__categories ul li,
  .footer__otherLinks ul li{
    width: 100%;
  }
}