/*
======================================
statement
======================================
*/

.stmt{
 position: relative;
 width: 100%;
 height: 100%;
 background-size: cover;
 background-position: center center;
}

.stmt--slide_1{
	background: url(../imgs/stmt1.png);
}

.stmt--slide_2{
	background: url(../imgs/stmt2.png);
	display: flex;
	justify-content: center;
	align-items: center;
}

.stmt--slide_3{
	background: url(../imgs/stmt3.png);
	display: flex;
	justify-content: center;
	align-items: center;
}

.stmt--slide_4{
	background: url(../imgs/stmt4.png);
	display: flex;
	justify-content: center;
	align-items: center;
}

.stmt--slide_5{
	background: url(../imgs/stmt5.png);
	display: flex;
	justify-content: center;
	align-items: center;
}

.stmt--slide_6{
	background: url(../imgs/stmt6.png);
	display: flex;
	justify-content: center;
	align-items: center;
}

.stmt--slide_7{
	background: url(../imgs/stmt7.png);
	display: flex;
	justify-content: center;
	align-items: center;
}

.stmt--slide_8{
	background: url(../imgs/stmt8.png);
	display: flex;
	justify-content: center;
	align-items: center;
}

.stmt--slide_9{
  background: url(../imgs/stmt9.png);
  display: flex;
	justify-content: center;
	align-items: center;
}

.stmt--slide_10{
	background: url(../imgs/stmt10.png);
	display: flex;
	justify-content: center;
	align-items: center;
}

.stmt__text{
	color: #fff;
	font-size: 16px;
	line-height: 1.8;
	font-weight: bold;
	letter-spacing: 0.1em;
}

.stmt__text--layout_A{
	width: 640px;
	position: absolute;
	top: 120px;
	left: 120px;
}

.stmt__text--layout_B{
	width: 830px;
	position: absolute;
	bottom: 160px;
	right: 120px;
}

.stmt__text--layout_C{
	text-align: center;
}

.stmt__text--layout_D{
	margin-right: 40px;
}

.stmt__text--type_A{
	font-size: 24px;
	font-weight: bold;
}

.stmt__text--type_B{
	font-size: 28px;
	font-weight: bold;
}

.stmt__text--type_C{
	font-size: 32px;
	font-weight: bold;
	letter-spacing: 0.3em;
}

.stmt__text--type_D{
	font-size: 18px;
	font-weight: bold;
}

.stmt__text--type_E{
	text-shadow: #000;
}

.stmt__text--type_F{
	font-style: italic;
	text-shadow: #000;
}

.stmt__text--deco_underline{
	display: inline-block;
	position: relative;
	z-index: 1;
}

.stmt__text--deco_underline::after{
	content: "";
	display: inline-block;
	position: absolute;
	bottom: 8px;
	left: 0;
	width: 100%;
	height: 16%;
	background-color: #206a00;
	opacity: 0.8;
	z-index: -1;
}

.stmt__text--deco_listdot{
  display: inline-block;
  position: relative;
}

.stmt__text--deco_listdot::after{
  content: "";
  display: inline-block;
  position: absolute;
  top: 12px;
  left: -12px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background: #206a00;
}

@media(max-width:1000px){
  
}